/ h1 ねこてちょう

/ table
/   thead
/     tr
/       th Email
/       th
/       th
/       th

/   tbody
/     - @users.each do |user|
/       tr
/         td = user.email
/         td = link_to 'Show', user
/         td = link_to 'Edit', edit_user_path(user)
/         td = link_to 'Destroy', user, data: {:confirm => 'Are you sure?'}, :method => :delete

/ br

/ = link_to 'New User', new_user_path

.container style="padding:20px"
  .jumbotron
    h1 ねこてちょう
    p 猫氏のログをナニからナニまで残しておくアプリです
    p
    a.btn.btn-primary.btn-lg href="login" role="button" ログインする
    p
    a.btn.btn-info.btn-lg href="users/new" role="button"  ユーザー登録する